OnePlus6Oxygen_22_OTA_060_all_1910081733_f1563bcedbf94488.zip
system/system/product/priv-app/Settings/Settings.apk
system/system/product/priv-app/GmsCore/GmsCore.apk
system/system/product/priv-app/Velvet/Velvet.apk
